.commentmodal .modal-content {
    background-color: black;
    color: #fff;
    border: 1px solid white;
  }
  
  .commentmodal .modal-header,
  .commentmodal .modal-body,
  .commentmodal .modal-footer {
    border: none;
  }
  
  .comment-item {
    background-color: #111;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .comment-username {
    color: #ff7eb3;
    display: block;
    margin-bottom: 4px;
  }
  
  .comment-text {
    margin: 0;
  }

.sec4-comment-btn {
    background: black;
}

.cm-post-title {
  color: white;
  font-weight: bold;
}

.cm-post-body {
  font-weight: 100;
}

.commentbox-username {
  font-size: 15px;
}

.discussion-comments {
  border-bottom: 1px solid white;
}

  