/* Base styling for the heart icon */
.heart-icon {
    position: relative;
    cursor: pointer;
    font-size: 1.2rem; /* Adjust as needed */
    z-index: 3;
  }
  
  /* When the post is favorited */
  .heart-favorited {
    color: red; /* or your chosen color */
  }
  
  /* When the post is not favorited */
  .heart-not-favorited {
    color: white; /* or your chosen color */
  }
  