.App {
  text-align: center;
  /* background: linear-gradient(45deg, dodgerblue, #ff7eb3); */
  background: black;
}
 
.navbar-icon {
  position: relative;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 8px;
  background: linear-gradient(black, black) padding-box, 
              linear-gradient(45deg, black, #ff7eb3) border-box;
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.navbar-logo {
  color: white;
}

.navbar-logo:hover {
  color: white;
}

.navbar {
  background: black;
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust thickness */
  background: linear-gradient(to right, dodgerblue, #ff7eb3); /* Gradient Colors */
}

.dodgerblue {
  color: dodgerblue;
  font-weight: bold;
}

.pink {
  color: #ff7eb3;
  font-weight: bold;
}

.debug-border {
  border: 1px solid red !important;
}

.navbar-icon:hover {
  color: #ff7eb3;
}

.full-page-spinner {
  position: fixed;            /* Position fixed to cover the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black tint with 50% opacity */
  z-index: 9999;              /* High z-index to overlay other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.oleo-script-swash-caps-bold {
  font-family: "Oleo Script Swash Caps", serif;
  font-weight: 700;
  font-style: normal;
}

.white {
  color:white;
}

